<footer>
	<div class="row">
		<div class="col-xs-11">
			<ul>
				<span class="bold">Contact:</span>
				<li>
					<f:cObject typoscriptObjectPath="lib.footerData.address"/>
				</li>
				<li>
					<f:cObject typoscriptObjectPath="lib.footerData.telephone"/>
				</li>
				<li class="hidden-xs">
					<f:cObject typoscriptObjectPath="lib.footerData.poBox"/>
				</li>
				<li>
					<f:cObject typoscriptObjectPath="lib.footerData.email"/>
				</li>
			</ul>
		</div>
		<div class="col-xs-1">
			<f:cObject typoscriptObjectPath="lib.footerData.social.twitter"/>
		</div>
	</div>
</footer>